{% extends "base.html" %}

{% block title %} Query Help - NZGD Map {% endblock %}

{% block content %}
<section>
    <h1>Query Help for NZGD Map</h1>

    <div class="content-section">
        <h2>Available Query Fields</h2>
        <div class="field-list">
            <ul>
                {% for field in col_names_to_display.split(", ") %}
                <li><code>{{ field }}</code></li>
                {% endfor %}
            </ul>
        </div>

        <h2>Example Queries</h2>
        <ul>
            <li><code>(vs30 < 100) & (region=="Canterbury")</code> - Show records where Vs30 is less than 100 m/s and
                the region is Canterbury</li>
            <li><code>type_prefix == "X"</code> - Show records of a particular type. X = "BH", "CPT", or "SCPT". Note
                that "BH" (borehole) also covers SPT</li>
            <li><code>investigation_date > "2024-08-20"</code> - Show records with date of investigation later than 20
                August 2024</li>
        </ul>

        <h2>Query Syntax</h2>
        <p>Queries use pandas query syntax. Here are some common operations:</p>
        <ul>
            <li>Comparison operators: <code>==</code>, <code>!=</code>, <code>&lt;</code>, <code>&gt;</code>,
                <code>&lt;=</code>, <code>&gt;=</code>
            </li>
            <li>Logical operators: <code>&</code> (and), <code>|</code> (or), <code>~</code> (not)</li>
            <li>String comparison: <code>column == "value"</code> (exact match),
                <code>column.str.contains("value")</code> (partial match)
            </li>
            <li>Numerical ranges: <code>(column > lower_bound) & (column < upper_bound)</code></li>
        </ul>

        <h2>Advanced Examples</h2>
        <ul>
            <li><code>deepest_depth > 20</code> - Records with depth greater than 20 meters</li>
            <li><code>(vs30 > 200) & (vs30 < 400)</code> - Records with Vs30 between 200 and 400 m/s</li>
            <li><code>(region=="Canterbury") | (region=="Auckland")</code> - Records from Canterbury OR Auckland regions
            </li>
            <li><code>~(type_prefix=="BH")</code> - All records EXCEPT boreholes</li>
        </ul>

        <h2>Available regions</h2>

        North_Auckland
        Canterbury
        Wellington
        South_Auckland
        Otago
        Nelson
        Taranaki
        Westland
        Marlborough
        Hawkes_Bay
        Gisborne
        Southland

        <h2>Available districts</h2>

        Auckland
        Christchurch_City
        Selwyn_District
        Palmerston_North_City
        Christchurch_City__Selwyn_District
        Hamilton_City__Waikato_District
        Waikato_District
        Dunedin_City
        Nelson_City
        Tauranga_City
        Western_Bay_of_Plenty_District
        Timaru_District
        South_Taranaki_District
        Horowhenua_District
        Auckland__Waikato_District
        Kapiti_Coast_District
        Ruapehu_District
        Grey_District
        Kaikoura_District
        unclassified
        Manawatu_District
        Rangitikei_District
        Waitomo_District
        Lower_Hutt_City
        Taupo_District
        Thames-Coromandel_District
        Otorohanga_District__Waitomo_District
        Manawatu_District__Rangitikei_District
        Porirua_City
        Wellington_City
        Waipa_District
        Nelson_City__Tasman_District
        Tasman_District
        Ashburton_District
        Hamilton_City
        Tauranga_City__Western_Bay_of_Plenty_District
        Central_Hawke_s_Bay_District__Hastings_District
        Central_Hawke_s_Bay_District
        Central_Hawke_s_Bay_District__Tararua_District
        Whakatane_District
        Queenstown-Lakes_District
        Waimakariri_District
        Area_outside_Territorial_Authority
        Rangitikei_District__Ruapehu_District
        Buller_District
        Westland_District
        Otorohanga_District
        Waitaki_District
        Central_Otago_District
        Clutha_District
        Central_Otago_District__Queenstown-Lakes_District
        Whangarei_District
        Far_North_District
        Manawatu_District__Palmerston_North_City
        Marlborough_District
        New_Plymouth_District
        Hamilton_City__Waikato_District__Waipa_District
        Hamilton_City__Waipa_District
        Matamata-Piako_District
        Auckland__Thames-Coromandel_District
        Hastings_District
        Opotiki_District
        Rotorua_District
        Upper_Hutt_City
        Carterton_District
        Masterton_District
        Gisborne_District
        Gore_District__Southland_District
        Mackenzie_District
        Whanganui_District
        Kaipara_District
        Napier_City
        Gisborne_District__Opotiki_District__Wairoa_District__Whakatane_District
        Tararua_District
        Manawatu_District__Palmerston_North_City__Tararua_District
        Hurunui_District
        Waimate_District
        Hauraki_District__Waikato_District
        Hurunui_District__Kaikoura_District__Marlborough_District
        Hauraki_District
        Hauraki_District__Matamata-Piako_District__South_Waikato_District__Western_Bay_of_Plenty_District
        Kaikoura_District__Marlborough_District
        Invercargill_City
        Kawerau_District
        Buller_District__Grey_District
        Stratford_District
        Queenstown-Lakes_District__Southland_District__Westland_District
        South_Wairarapa_District
        Matamata-Piako_District__Waipa_District
        South_Waikato_District
        Central_Otago_District__Clutha_District
        Gore_District
        Christchurch_City__Waimakariri_District
        Wairoa_District
        Western_Bay_of_Plenty_District__Whakatane_District
        Southland_District
        Selwyn_District__Westland_District
        Ruapehu_District__Taupo_District
        Buller_District__Hurunui_District
        Invercargill_City__Southland_District
        Hauraki_District__Thames-Coromandel_District
        Buller_District__Tasman_District
        Hastings_District__Wairoa_District
        Hastings_District__Napier_City
        Auckland__Kaipara_District
        Rangitikei_District__Whanganui_District
        Matamata-Piako_District__South_Waikato_District
        Hauraki_District__Matamata-Piako_District
        Otorohanga_District__Waipa_District
        Otorohanga_District__Taupo_District
        Marlborough_District__Tasman_District
        Auckland__Hauraki_District__Waikato_District
        Rotorua_District__Taupo_District
        Queenstown-Lakes_District__Southland_District

        <h2>Available cities</h2>

        Auckland
        Christchurch
        Drury
        Lincoln
        Palmerston_North
        Hamilton
        Dunedin
        Nelson
        Mount_Maunganui
        Pukehina
        Arthur_s_Pass
        Temuka
        Patea
        Foxton
        Tauranga
        Mangatawhiri
        Hunua
        Papakura
        Dairy_Flat
        Warkworth
        Waikanae
        Otaki
        Waimiha
        Snells_Beach
        Pokeno
        Pukekohe
        Bombay
        Greymouth
        Kaikoura
        unclassified
        Port_Chalmers
        Waikouaiti
        Feilding
        Halcombe
        Marton
        Hunterville
        Te_Kuiti
        Taupiri
        Lower_Hutt
        Huntly
        Taupo
        Coromandel
        Oparau
        Kimbolton
        Porirua
        Taumarunui
        Wellington
        Paraparaumu
        Mahoenui
        Whakamarama
        Governors_Bay
        Waitati
        Richmond
        Brightwater
        Lyttelton
        Ashburton
        Prebbleton
        Motueka
        Mapua
        Takaka
        Cambridge
        Omokoroa
        Tikokino
        Takapau
        Oropi
        Whakatane
        Wanaka
        Diamond_Harbour
        Waiheke_Island
        Te_Puke
        Papamoa
        Whangaparaoa
        Silverdale
        Helensville
        Queenstown
        Kaiapoi
        Springfield
        Mangaweka
        Kumeu
        Inchbonnie
        Algies_Bay
        Taihape
        Wellsford
        Ngahere
        Westport
        Te_Awamutu
        Oamaru
        Alexandra
        Kaitangata
        Lake_Hawea
        Whangarei
        Waiuku
        Panguru
        Paekakariki
        Waverley
        Coopers_Beach
        Rangiora
        Blenheim
        Mokau
        Raglan
        Rai_Valley
        Kaukapakapa
        Orewa
        Wainui
        Minden
        Seaward_Valley
        Hawera
        Matamata
        Mosgiel
        Whitford
        Red_Beach
        Te_Puna
        Atiamuri
        Mangakino
        Outram
        Napier
        Edgecumbe
        Kaikohe
        Opotiki
        Rotorua
        Upper_Hutt
        Carterton
        Masterton
        Tolaga_Bay
        Gore
        New_Plymouth
        Albury
        Whanganui
        Takamatua
        Waikuku
        Dargaville
        Sefton
        Thames
        Waipawa
        Hokitika
        Turangi
        Timaru
        Paparoa
        Muriwai
        Kaitaia
        Waimauku
        Whangarei_Heads
        Leigh
        Moeraki
        Te_Urewera
        Rolleston
        Ohope
        Ngaruawahia
        Aokautere
        Woodville
        Ashhurst
        Waiau
        Tairua
        Southburn
        Waimarama
        Darfield
        Maramarua
        Ngatea
        Tuakau
        Kahuranaki
        Whitianga
        Gisborne
        Morrinsville
        Amberley
        Tahawai
        Katikati
        Cheviot
        Paeroa
        Aongatete
        Kaimai_Mamaku_Conservation_Park
        Haast
        Bluff
        Hanmer_Springs
        Ruakaka
        Ross
        Woodend
        Kawerau
        Spring_Creek
        Culverden
        Arrowtown
        Kaiwaka
        Kerikeri
        Maungaturoto
        Tangiteroria
        Paparoa_National_Park
        Kawhia
        Clevedon
        Waihi
        Renwick
        Stratford
        Hastings
        Matata
        Mount_Aspiring_National_Park
        Elsthorpe
        Omakere
        Waipukurau
        Flemington
        Te_Awanga
        Havelock_North
        Tai_Tapu
        Piha
        Omaha
        Matakana
        Coatesville
        Manutuke
        Invercargill
        Ohura
        Ohakune
        Martinborough
        Te_Kauwhata
        Ward
        Geraldine
        Kokatahi
        Omanawa
        Waipapa
        Mount_Somers
        Lawrence
        Waipara
        Waipu
        Otorohanga
        Porangahau
        Lake_Tekapo
        Bulls
        Riverlands
        Kawakawa_Bay
        Te_Pahu
        Pigeon_Bay
        Pahiatua
        Inglewood
        Waitara
        Hamurana
        Kairanga
        Levin
        Pongakawa
        Pirongia
        Duvauchelle
        Ahaura
        Tokoroa
        Okaihau
        Hikuai
        Castle_Hill
        Waihi_Beach
        Waharoa
        Glenorchy
        Shannon
        Hampden
        Greytown
        Featherston
        Te_Karaka
        Tirau
        Hawarden
        Kairaki
        Oxford
        West_Eyreton
        Kirwee
        Burnham
        Motuoapa
        Marlborough_Sounds
        Nuhaka
        Wairoa
        Kaeo
        Seddon
        Haumoana
        Clive
        Mangawhai
        Reefton
        Tokanui
        Wyndham
        Winton
        Dipton_West
        Acton
        Riversdale
        Balfour
        Tuatapere
        Waitoa
        Mangatuna
        Paengaroa
        Picton
        Havelock
        Leeston
        Domett
        Clinton
        The_Pines_Beach
        Hicks_Bay
        Egmont_Village
        Milton
        Clydevale
        Balclutha
        Opunake
        Parua_Bay
        Fiordland_National_Park
        Ohai
        Otautau
        Manakau
        Kuku
        Ohau
        Little_Akaloa
        Craigieburn_Forest_Park
        Arthur_s_Pass_National_Park
        Urenui
        Tongariro_National_Park
        Robinsons_Bay
        Ongaonga
        Lower_Moutere
        Lauriston
        Manapouri
        Pukaki
        Te_Anau
        Hororata
        Southbridge
        Putaruru
        Whangamata
        Swannanoa
        Dannevirke
        Waiotira
        Kauri
        Methven
        Otane
        Mataura
        Northland_Conservation_Park
        Patetonga
        Waikari
        Te_Kaha
        Roxburgh
        Riverhead
        Coromandel_Forest_Park
        Maruia
        Upper_Moutere
        Clarks_Beach
        Kotemaori
        Ormondville
        Weber
        Herbertville
        Pongaroa
        Upokongaro
        Ongarue
        Point_Wells
        Tikitiki
        Ruatoria
        Tokomaru_Bay
        Naseby
        Cave
        Ohaupo
        Dunsandel
        Loburn
        Ohoka
        Coalgate
        Pegasus
        Hakataramea_Valley
        Kurow
        Akaroa
        Pollok
        Awhitu
        Glenbrook
        Takanini
        Runanga
        Arnold_Valley
        Moana
        Palmerston
        Kakahi
        Taipa
        Matakohe
        Moerewa
        Kaihu
        Matawai
        Mercer
        Awanui
        Reporoa
        Pukenui
        Taneatua
        Waimate
        Edendale
        Waikuku_Beach
        Leithfield
        Karamea
        Kawakawa
        Opononi
        Ruawai
        Kahurangi_National_Park
        Pauanui
        Lake_Coleridge
        Little_River
        French_Farm
        Murupara
        Cape_Runaway
        Port_Waikato
        Tahuna
        Whangara
        Collingwood
        Riverton_Aparima
        Pukekawa
        Te_Aroha
        Dillons_Point
        Karikari_Peninsula
        Hikurangi
        Mamaku
        St._Arnaud
        Waimana
        Russell
        Orini
        Piopio
        Waiotahe_Valley
        Baylys_Beach
        Cust
        Norfolk
        Glen_Massey
        Maketu
        Kaiaua
        Stirling
        Sanson
        Rongotea
        Himatangi_Beach
        Tangimoana
        Glen_Oroua
        Nukuhou
        Ngakuru
        Maraekakaho
        Broadlands
        Lower_Kaimai
        Glentunnel
        Poukawa
        Mahia
        Kingston
        Te_Araroa

        <h2>Available suburbs</h2>

        Massey
        West_Harbour
        Whenuapai
        Hobsonville
        Burnside
        Drury
        Greenhithe
        Lincoln
        Palmerston_North
        Avondale
        Halswell
        Avonside
        Linwood
        Burwood
        Horotiu
        Horsham_Downs
        Bayview
        Richmond
        Edgeware
        Shirley
        Mairehau
        Parklands
        Islington
        Waltham
        Woolston
        North_Dunedin
        Grafton
        Epsom
        Hillmorton
        Toi_Toi
        Papanui
        Fendalton
        Merivale
        Clifton
        Christchurch_Central
        Mount_Maunganui
        Pukehina
        Henderson
        Swanson
        Lake_Pearson
        Temuka
        Patea
        Moutoa
        Marshland
        Tauriko
        Mangatawhiri
        Hunua
        Opaheke
        Saint_Johns
        Dairy_Flat
        Flat_Bush
        Auckland_Central
        Pohuehue
        Peka_Peka
        Te_Horo
        Waimiha
        Snells_Beach
        Pokeno
        Pukekohe_East
        Bombay
        Dobson
        St_Albans
        Oaro
        New_Brighton
        unclassified
        Mihiwaka
        Omimi
        Feilding
        Halcombe
        Marton
        Hunterville
        Hangatiki
        Taupiri
        Korokoro
        Ohinewai
        Rotokawa
        Coromandel
        Te_Rerenga
        Hauturu
        Mount_Roskill
        Mount_Pleasant
        Ohingaiti
        Plimmerton
        Manunui
        Pipitea
        Manor_Park
        Aotea
        Paraparaumu
        Otaihanga
        Rukuhia
        Mahoenui
        Huntly
        Saint_Martins
        Albany
        Saint_Heliers
        Rosehill
        Pahurehure
        Whakamarama
        Richmond_Hill
        Middleton
        Upper_Riccarton
        Dunedin_Central
        Charteris_Bay
        Huntsbury
        Hillsborough
        Broad_Bay
        Portobello
        Avonhead
        Mount_Cargill
        Nelson_Airport
        Nelson
        Nelson_South
        Te_Aro
        Northland
        Brightwater
        Karaka
        Stoke
        Port_Nelson
        Annesbrook
        Moana
        Manurewa
        Ferrymead
        Nelson_Haven
        Lyttelton
        Atawhai
        Tahunanui
        Moturoa___Rabbit_Island
        Waimea_Inlet
        Maitai
        Hornby_South
        Long_Bay
        Tinwald
        Remuera
        Strowan
        New_Lynn
        Titirangi
        Ellerslie
        Bryndwr
        Penrose
        Mount_Wellington
        Glen_Innes
        Prebbleton
        Bromley
        Motueka
        Mapua
        Takaka
        Bexley
        Dallington
        Manurewa_East
        Hillpark
        Western_Springs
        Cambridge
        Northgate
        Ohauiti
        Omokoroa
        Tikokino
        Ashley_Clinton
        Takapau
        Oropi
        Otumoetai
        Awakeri
        North_New_Brighton
        Sydenham
        Wanaka
        Ilam
        Purau
        Point_Chevalier
        Wakatu
        Maupuia
        Belfast
        Ouruhia
        Redwood
        Oneroa
        Te_Puke
        East_Tamaki
        Clandeboye
        New_Windsor
        Mount_Albert
        Papamoa_Beach
        Stanmore_Bay
        Wiri
        Onehunga
        Silverdale
        Riccarton
        Helensville
        Beachlands
        Papamoa
        Queenstown
        Bucklands_Beach
        Fitzroy
        Peacocke
        Wesley
        Waterview
        Kingsland
        Sandringham
        Blockhouse_Bay
        Beach_Haven
        Albany_Heights
        Kaiapoi
        Woburn
        Springfield
        Ngauranga
        Wellington_Harbour___Port_Nicholson
        Oriental_Bay
        Thorndon
        Mount_Victoria
        Wellington_Central
        Seaview
        Mangaweka
        Hamilton_Central
        Newtown
        Christchurch_Airport
        Rongotai
        Huapai
        Inchbonnie
        Avalon
        Manukau_Harbour
        Algies_Bay
        Taumarunui
        Mangere
        Favona
        Mangere_Bridge
        Takanini
        Randwick_Park
        Taihape
        Wellsford
        Ngahere
        Westport
        Jacksons
        Wairau_Valley
        Forrest_Hill
        Greenlane
        Waipapa_Bay
        Te_Kawa
        Incholme
        Frankton
        Springvale
        Inch_Clutha
        Lake_Hawea
        Albert_Town
        Whitstone
        Dome_Forest
        Dome_Valley
        Westgate
        Mata
        Whangarei_Harbour
        Oakleigh
        Rosedale
        Waitemata_Harbour
        Te_Okoriki_Inlet
        Otangarei
        Whau_Valley
        Mount_Cook
        Otaki
        Otago_Harbour
        Dowling_Bay
        Tauranga
        Waikareao_Estuary
        Tauranga_Harbour
        Karioitahi
        Panguru
        Redvale
        Longburn
        Paekakariki
        Paekakariki_Hill
        Judgeford
        Waverley
        Pakuranga
        Pakuranga_Heights
        Burswood
        Manukau
        Coopers_Beach
        Rangiora
        Grovetown
        Peketa
        Wigram
        Redcliffs
        Awakino
        Mohakatino
        Whatawhata
        Raglan
        Kaipara_Harbour
        Hautere
        Whangamoa
        Temple_View
        Glenview
        Bader
        Hamilton_East
        Tamahere
        Kaukapakapa
        Warkworth
        Puhoi
        Lower_Buller_Gorge
        Kaiata
        Goodwood_Heights
        Clover_Park
        Pinehill
        Takapuna
        Khandallah
        Orewa
        Wainui
        Bethlehem
        Minden
        Seaward_Valley
        Half_Moon_Bay
        Hawera
        Papatoetoe
        Island_Bay
        Matamata
        The_Wood
        Windsor_Park
        Northcote
        Glen_Eden
        Herne_Bay
        Highland_Park
        Northpark
        Mairangi_Bay
        Whitby
        Blenheim
        Riversdale
        Mosgiel
        Baverstock
        Northwood
        Whitford
        Aidanfield
        Wainuiomata
        Linton
        Addington
        Fairview_Heights
        Oteha
        Hauraki_Gulf___Tikapa_Moana
        Red_Beach
        Gate_Pa
        Birkenhead
        Waitakere
        Ostend
        Mangawhai_Bay
        Te_Puna
        Pyes_Pa
        Wairakei
        Oruanui
        Kinleith_Forest
        Mokai
        Marotiri
        Tirohanga
        Whakamaru
        Outram
        Kairua
        Puketapu
        West_End
        Waikanae
        Hokowhitu
        Kilbirnie
        Burbush
        South_Dunedin
        Lawyers_Head
        Hei_Hei
        Yaldhurst
        Ohariu
        Edgecumbe
        Ngawha_Springs
        Wainoni
        Hataitai
        Stokes_Valley
        Hutt_Central
        Haywards
        Opawa
        Portland
        Ngapuna
        Titahi_Bay
        Pukerua_Bay
        Birchville
        Akatarawa_Valley
        Makara
        Torbay
        Carterton
        Glendowie
        Masterton
        Casebrook
        Tolaga_Bay
        Eden_Terrace
        Petone
        Moera
        Mangaroa
        Melling
        Alicetown
        Taita
        Silverstream
        Point_Howard
        Gracefield
        Naenae
        Boulcott
        Belmont
        Waiwhetu
        Wallaceville
        Maidstone
        Heretaunga
        Whitemans_Valley
        Ebdentown
        Trentham
        Grey_Lynn
        Upper_Charlton
        Waimumu
        Johnsonville
        Hoon_Hay
        Parnell
        Lambton_Harbour
        Whiorau_Lowry_Bay
        Newmarket
        East_Tamaki_Heights
        Ashburton
        Te_Kuiti
        Orakei
        Mount_Eden
        Bell_Block
        Inland_Road
        Albury
        Whanganui
        Glenfield
        Clarkville
        Takamatua
        Shelly_Park
        Tawa
        Waikuku
        Dargaville
        Pauatahanui
        Whitikahu
        Saint_Leonards
        Sefton
        Thames
        Waipawa
        Hospital_Hill
        Huia
        Dinsdale
        Acacia_Bay
        Waiatarua
        Westhaven
        Saint_Marys_Bay
        Awatuna
        Rangipo
        Huntington_Park
        Panmure
        Sandymount
        Waikouaiti
        Port_Chalmers
        South_Hill
        Timaru_Port
        Cashmere
        Pahi
        Tamaterau
        Muriwai
        Meadowbank
        Abbey_Caves
        Kaitaia
        Rothesay_Bay
        Waimauku
        Rawene
        Whangarei_Heads
        Leigh
        Waiheke_Island
        Hauraki
        Governors_Bay
        Beckenham
        Moeraki
        Whakatane
        Utiku
        Te_Urewera
        Rolleston
        Te_Atatu_Peninsula
        Kumeu
        Ohope
        Ngaruawahia
        Aokautere
        Woodville
        Ashhurst
        Clendon_Park
        Lyford
        Tairua
        Maungati
        Waimarama
        Sumner
        Strandon
        New_Plymouth
        Maeroa
        Stonefields
        Hillcrest
        Darfield
        Maramarua
        Waitakaruru
        Coastlands
        Tuakau
        Kahuranaki
        Pumpkin_Hill
        Makauri
        Bishopdale
        Abbotsford
        Green_Island
        Unsworth_Heights
        Morrinsville
        Amberley



    </div>

    <div class="back-link">
        <a href="{{ url_for('views.index') }}">&larr; Back to Map</a>
    </div>
</section>
{% endblock %}